
/* URL for importing Roboto font. */
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

/* Specifies font for site. */
body {
	font-family: 'Roboto', serif;
}

.icon-element {
	display: inline-block;
	text-align: center;
}

.jumbotron {
	border-radius: 0 !important;
	padding-left: 15vw;
	padding-right: 15vw;
	margin-bottom: 0;
	margin-top: 0;
	background-repeat: no-repeat; 
	background-size: cover;
	height: auto;
	width: 100%;
}

.carousel-item {
    height: 52vh;
} 
.carousel-item img{
    min-height: 52vh;
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    margin-top: 0%;
}
